.testimonial
  <span class="quote_left">"</span>
  <em>Ademar was a pleasure to work with.  I will be working with him on other projects in the near future.</em> <span class="quote_right">"</span>
.author
  = "- William Minkstein, Lamplighter Ventures LLC"

.projects
  .app_container
    .app_frame
      %a{:href => 'http://sharp-stream-20.heroku.com/', :target => "_blank" }
        .app_image
          = image_tag '/images/apps/eaplan.png'
    .app_description
      = "Brought this html design to life using Rails, Refinery, Haml & Sass, with Heroku as its the server."
  
  .app_container
    .app_frame
      .app_image
        = image_tag '/images/apps/critical.png'
    .app_description
      = "HTML design brought to life with Contcrete5 PHP framework deployed with an ubuntu 10.04 instance of Amazon's ec2."

  .app_container
    .app_frame 
      %a{:href => "http://www.etroduce.com", :target => "_blank" }
        .app_image
          = image_tag '/images/apps/etroduce.png'
    .app_description
      = "One of the core members of this startup, an online referral platform. Used Rails, Jquery, Haml & Sass."

  -#.app_container
  -#  .app_frame
  -#    .app_image
  -#      = image_tag '/images/apps/havingfun.png'
  -#  .app_description
  -#    = "Brought this html design to life using Rails, Refinery, Haml & Sass, Heroku"

  .app_container
    .app_frame
      .app_image
        = image_tag '/images/apps/ignitergem.png'
    .app_description
      = "A gem built for Lamplighter Ventures LLC which helps you start your rails 3 app in a few seconds."

  .app_container
    .app_frame
      %a{ :href => "http://investmentpal.com", :target => "_blank" }
        .app_image
          = image_tag '/images/apps/investmentpal.png'
    .app_description
      = "Stitched some fixes for investmentpal to cross the beta phase. Used MongoDB, Rails, Jquery, Haml & Sass"

  .app_container
    .app_frame
      .app_image
        = image_tag '/images/apps/survey.png'
    .app_description
      = "Survey app for smart phones, using rails 3 for back-end and jquery mobile for front-end."

  .app_container
    .app_frame
      %a{ :href => "http://percolait.com", :target => "_blank" }
        .app_image
          = image_tag '/images/apps/percolait.png'
    .app_description
      = "Worked as a Ruby on Rails developers for percolait, and developed various web apps from different clients."

  .app_container
    .app_frame
      %a{ :href => "http://www.exvo.com", :target => "_blank" }
        .app_image
          = image_tag '/images/apps/exvo.png'
    .app_description
      = "Created desktop widget app for exvo desktop and other web apps requested from their clients."

  .app_container
    .app_frame
      %a{ :href => "http://www.bootyard.com", :target => "_blank"}
        .app_image
          = image_tag '/images/apps/bootyard.png'
    .app_description
      = "Co-founder and lead developer of Bootyard, a software consulting firm which helps startups bootstrap and create awesome apps. :)"


